*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: #f0000f;
}
.dropbtn {
    background-color: #f0000f;
    color: white;
    font-size: 30px;
    border: none;
    max-height: 40px;
    margin-left: 10px;
}
.dropdown {
    height: 60px;
    display: inline-block;
    margin-bottom: 10px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f0000f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} 
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #f0000f;}
.menu-pesquisa {
    margin: 20px;
    display: flex;
    gap: 10px;
}
/*Fim do Header*/
/*Inicio do Main*/
main{
    display: flex;
    justify-content: center;
    width: full;
    padding-top: 10px;
    padding-bottom: 10px;
}
.logo_preta{
    padding-top: 20px;
    z-index: 10;
}
.cardapi_geral{
    z-index: 1;
}
.testto_clasic{
    display: flex;
    justify-content: center;
}
.testto_frango{
    display: flex;
    justify-content: center;
}
.duplo_anabolic{
    display: flex;
    justify-content: center;
}
.testto_bacon{
    display: flex;
    justify-content: center;
}
.batata_bacon{
    display: flex;
    justify-content: center;
}
.suco_natural{
    display: flex;
    justify-content: center;
}
.linhas{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main h3{
    font-size: 25px;
    margin-bottom: 10px;
}
main h6{
    font-family: 'Light';
    font-size: 16px;
}
main h4{
    font-family: 'Poppins';
    font-size: 30px;
    margin-top: 10px;
}
button{
    padding: 5px;
    border: solid 1px #000000;
    border-radius: 5px;
    background-color: #ffffff;
    margin-top: 15px;
    padding-right: 15px;
    font-size: 13px;
}
.carrinho{
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
/*Fim do Main*/
/*Inicio do Footer*/
footer{
    margin-left: 20%;
    padding: 30px;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    height: 110px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
}
.footer-item{
    width: 70%;
}
.image-footer {
    width: 20%;
    height: 48px;
}
@media all and (min-width: 800px){
    footer{
        order: 4;
    }
}
/*Fim do Footer*/